[Unit]
Description=rep2-allinone Service (Caddy + PHP-FPM)
After=network.target

[Service]
Type=simple
User=rep2
Group=rep2
ExecStart=/opt/rep2-allinone/rep2-allinone
Restart=on-failure
WorkingDirectory=/opt/rep2-allinone

[Install]
WantedBy=multi-user.target
